<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>The Udisks Project</vendor>
  <vendor_url>https://github.com/storaged-project/udisks</vendor_url>
  <icon_name>drive-removable-media</icon_name>

  
  

  <action id="org.freedesktop.udisks2.filesystem-mount">
    <description>Mount a filesystem</description>
    <description xml:lang="ca">Munta un sistema de fitxers</description>
    <description xml:lang="cs">Připojit souborový systém</description>
    <description xml:lang="da">Monter et filsystem</description>
    <description xml:lang="de">Ein Dateisystem einhängen</description>
    <description xml:lang="el">Προσάρτηση συστήματος αρχείων</description>
    <description xml:lang="en_GB">Mount a filesystem</description>
    <description xml:lang="es">Montar un sistema de archivos</description>
    <description xml:lang="eu">Muntatu fitxategi-sistema bat</description>
    <description xml:lang="fi">Liitä tiedostojärjestelmä</description>
    <description xml:lang="fr">Monter un système de fichiers</description>
    <description xml:lang="fur">Monte un filesystem</description>
    <description xml:lang="gl">Modificar un sistema de ficheiros</description>
    <description xml:lang="hr">Montiraj datotečni sustav</description>
    <description xml:lang="hu">Fájlrendszer csatolása</description>
    <description xml:lang="ia">Montar un systema de files</description>
    <description xml:lang="id">Kaitkan suatu sistem berkas</description>
    <description xml:lang="it">Monta un file system</description>
    <description xml:lang="ja">ファイルシステムをマウントします。</description>
    <description xml:lang="kk">Файлдық жүйені тіркеу</description>
    <description xml:lang="ko">파일 시스템 마운트</description>
    <description xml:lang="lt">Prijungti failų sistemą</description>
    <description xml:lang="lv">Montēt datņu sistēmu</description>
    <description xml:lang="nl">Koppel een bestandssysteem aan</description>
    <description xml:lang="pa">ਫਾਇਲ ਸਿਸਟਮ ਮਾਊਂਟ ਕਰੋ</description>
    <description xml:lang="pl">Zamontowanie systemu plików</description>
    <description xml:lang="pt_BR">Montar um sistema de arquivos</description>
    <description xml:lang="ru">Монтировать файловую систему</description>
    <description xml:lang="sk">Pripojiť súborový systém</description>
    <description xml:lang="sl">Priklopi datotečni sistem</description>
    <description xml:lang="sr">Прикачите систем датотека</description>
    <description xml:lang="sv">Montera ett filsystem</description>
    <description xml:lang="tr">Bir dosya sistemi bağla</description>
    <description xml:lang="uk">Змонтувати файлову систему</description>
    <description xml:lang="zh_CN">挂载文件系统</description>
    <description xml:lang="zh_TW">掛載檔案系統</description>
    <message>Authentication is required to mount the filesystem</message>
    <message xml:lang="ca">Es requereix autenticació per muntar el sistema de fitxers</message>
    <message xml:lang="cs">Pro připojení souborového systému je vyžadována autentizace</message>
    <message xml:lang="da">Der kræves godkendelse for at montere filsystemet</message>
    <message xml:lang="de">Legitimation ist zum Einhängen eines Dateisystems erforderlich</message>
    <message xml:lang="el">Απαιτείται πιστοποίηση για προσάρτηση συστήματος αρχείων</message>
    <message xml:lang="en_GB">Authentication is required to mount the filesystem</message>
    <message xml:lang="es">Se requiere autenticación para montar el sistema de archivos</message>
    <message xml:lang="eu">Autentifikazioa behar da fitxategi-sistema muntatzeko</message>
    <message xml:lang="fi">Tunnistautuminen vaaditaan tiedostojärjestelmän liittämistä varten</message>
    <message xml:lang="fr">Une authentification est requise pour monter le système de fichiers</message>
    <message xml:lang="fur">La autenticazion e je necesarie par montâ il filesystem</message>
    <message xml:lang="gl">Debe autenticarse para montar o sistema de ficheiros</message>
    <message xml:lang="hr">Potrebna je provjera za montiranje datotečnog sustava</message>
    <message xml:lang="hu">Hitelesítés szükséges a fájlrendszer csatolásához</message>
    <message xml:lang="ia">Authentication es necessari pro montar le systema de files</message>
    <message xml:lang="id">Otentikasi diperlukan untuk mengait sistem berkas</message>
    <message xml:lang="it">È richiesto autenticarsi per montare il file system</message>
    <message xml:lang="ja">ファイルシステムをマウントするには、認証が必要です。</message>
    <message xml:lang="kk">Файлдық жүйені тіркеу үшін аутентификация керек</message>
    <message xml:lang="ko">파일 시스템을 마운트 하려면 인증이 필요합니다</message>
    <message xml:lang="lt">Failų sistemai prijungti reikia patvirtinti tapatybę</message>
    <message xml:lang="lv">Vajag autentificēties, lai montētu datņu sistēmas</message>
    <message xml:lang="nl">Authenticatie is vereist om het bestandssysteem aan te koppelen</message>
    <message xml:lang="pa">ਫਾਇਲ ਸਿਸਟਮ ਮਾਊਂਟ ਕਰਨ ਲਈ ਪਰਮਾਣਕਿਤਾ ਦੀ ਲੋੜ ਹੈ</message>
    <message xml:lang="pl">Wymagane jest uwierzytelnienie, aby zamontować system plików</message>
    <message xml:lang="pt_BR">Autenticação é necessária para montar um sistema de arquivos</message>
    <message xml:lang="ru">Для монтирования файловой системы требуется подтверждение подлинности пользователя</message>
    <message xml:lang="sk">Pripojenie súborového systému vyžaduje overenie totožnosti</message>
    <message xml:lang="sl">Za priklop datotečnega sistema je zahtevana overitev.</message>
    <message xml:lang="sr">Потребно је потврђивање идентитета за прикачињање система датотека</message>
    <message xml:lang="sv">Autentisering krävs för att montera filsystemet</message>
    <message xml:lang="tr">Dosya sistemini bağlamak için kimlik doğrulaması gerekli</message>
    <message xml:lang="uk">Щоб змонтувати файлову систему, слід пройти розпізнавання</message>
    <message xml:lang="zh_CN">挂载文件系统需要身份验证</message>
    <message xml:lang="zh_TW">要掛載檔案系統需要先核對身分</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  
  <action id="org.freedesktop.udisks2.filesystem-mount-system">
    <description>Mount a filesystem on a system device</description>
    <description xml:lang="ca">Munta un sistema de fitxers en un dispositiu de sistema</description>
    <description xml:lang="cs">Připojit souborový systém na systémovém zařízení</description>
    <description xml:lang="da">Monter et filsystem på en systemenhed</description>
    <description xml:lang="de">Ein Dateisystem auf einem Systemgerät einhängen</description>
    <description xml:lang="el">Προσάρτηση συστήματος αρχείων σε μια συσκευή του συστήματος</description>
    <description xml:lang="en_GB">Mount a filesystem on a system device</description>
    <description xml:lang="es">Montar un sistema de archivos en un dispositivo del sistema</description>
    <description xml:lang="eu">Muntatu fitxategi-sistema bat sistema-gailu batean</description>
    <description xml:lang="fi">Liitä järjestelmälaitteella sijaitseva tiedostojärjestelmä</description>
    <description xml:lang="fr">Monter un système de fichiers sur un périphérique système</description>
    <description xml:lang="fur">Monte un filesystem suntun dispositîf di sisteme</description>
    <description xml:lang="gl">Modificar un sistema de ficheiros nun dispositivo do sistema</description>
    <description xml:lang="hr">Montiraj datotečni sustav na sustavski uređaj</description>
    <description xml:lang="hu">Fájlrendszer csatolása rendszereszközön</description>
    <description xml:lang="ia">Montar un systema de files sur un dispositivo de systema</description>
    <description xml:lang="id">Kaitkan suatu sistem berkas pada suatu perangkat sistem</description>
    <description xml:lang="it">Monta un file system su un dispositivo di sistema</description>
    <description xml:lang="ja">システムデバイスのファイルシステムをマウントします。</description>
    <description xml:lang="kk">Жүйелік құрылғыдағы файлдық жүйені тіркеу</description>
    <description xml:lang="ko">시스템 장치에 파일 시스템 마운트</description>
    <description xml:lang="lt">Prijungti failų sistemą sisteminiame įrenginyje</description>
    <description xml:lang="lv">Montēt datņu sistēmu uz sistēmas ierīces</description>
    <description xml:lang="nl">Koppel een bestandssysteem aan op een systeemapparaat</description>
    <description xml:lang="pa">ਸਿਸਟਮ ਜੰਤਰ ਉੱਤੇ ਫਾਇਲ ਸਿਸਟਮ ਮਾਊਂਟ ਕਰੋ</description>
    <description xml:lang="pl">Zamontowanie systemu plików na urządzeniu systemowym</description>
    <description xml:lang="pt_BR">Montar um sistema de arquivos em um dispositivo de sistemas</description>
    <description xml:lang="ru">Монтировать файловую систему на системном устройстве</description>
    <description xml:lang="sk">Pripojiť systém na systémovom zariadení</description>
    <description xml:lang="sl">Priklopi datotečni sistem na sistemski napravi</description>
    <description xml:lang="sr">Прикачите систем датотека на уређај система</description>
    <description xml:lang="sv">Montera ett filsystem på en systemenhet</description>
    <description xml:lang="tr">Bir sistem aygıtı üzerinde bir dosya sistemi bağla</description>
    <description xml:lang="uk">Змонтувати файлову систему на пристрої зберігання системи</description>
    <description xml:lang="zh_CN">在系统设备上挂载文件系统</description>
    <description xml:lang="zh_TW">在系統裝置掛載檔案系統</description>
    <message>Authentication is required to mount the filesystem</message>
    <message xml:lang="ca">Es requereix autenticació per muntar el sistema de fitxers</message>
    <message xml:lang="cs">Pro připojení souborového systému je vyžadována autentizace</message>
    <message xml:lang="da">Der kræves godkendelse for at montere filsystemet</message>
    <message xml:lang="de">Legitimation ist zum Einhängen eines Dateisystems erforderlich</message>
    <message xml:lang="el">Απαιτείται πιστοποίηση για προσάρτηση συστήματος αρχείων</message>
    <message xml:lang="en_GB">Authentication is required to mount the filesystem</message>
    <message xml:lang="es">Se requiere autenticación para montar el sistema de archivos</message>
    <message xml:lang="eu">Autentifikazioa behar da fitxategi-sistema muntatzeko</message>
    <message xml:lang="fi">Tunnistautuminen vaaditaan tiedostojärjestelmän liittämistä varten</message>
    <message xml:lang="fr">Une authentification est requise pour monter le système de fichiers</message>
    <message xml:lang="fur">La autenticazion e je necesarie par montâ il filesystem</message>
    <message xml:lang="gl">Debe autenticarse para montar o sistema de ficheiros</message>
    <message xml:lang="hr">Potrebna je provjera za montiranje datotečnog sustava</message>
    <message xml:lang="hu">Hitelesítés szükséges a fájlrendszer csatolásához</message>
    <message xml:lang="ia">Authentication es necessari pro montar le systema de files</message>
    <message xml:lang="id">Otentikasi diperlukan untuk mengait sistem berkas</message>
    <message xml:lang="it">È richiesto autenticarsi per montare il file system</message>
    <message xml:lang="ja">ファイルシステムをマウントするには、認証が必要です。</message>
    <message xml:lang="kk">Файлдық жүйені тіркеу үшін аутентификация керек</message>
    <message xml:lang="ko">파일 시스템을 마운트 하려면 인증이 필요합니다</message>
    <message xml:lang="lt">Failų sistemai prijungti reikia patvirtinti tapatybę</message>
    <message xml:lang="lv">Vajag autentificēties, lai montētu datņu sistēmas</message>
    <message xml:lang="nl">Authenticatie is vereist om het bestandssysteem aan te koppelen</message>
    <message xml:lang="pa">ਫਾਇਲ ਸਿਸਟਮ ਮਾਊਂਟ ਕਰਨ ਲਈ ਪਰਮਾਣਕਿਤਾ ਦੀ ਲੋੜ ਹੈ</message>
    <message xml:lang="pl">Wymagane jest uwierzytelnienie, aby zamontować system plików</message>
    <message xml:lang="pt_BR">Autenticação é necessária para montar um sistema de arquivos</message>
    <message xml:lang="ru">Для монтирования файловой системы требуется подтверждение подлинности пользователя</message>
    <message xml:lang="sk">Pripojenie súborového systému vyžaduje overenie totožnosti</message>
    <message xml:lang="sl">Za priklop datotečnega sistema je zahtevana overitev.</message>
    <message xml:lang="sr">Потребно је потврђивање идентитета за прикачињање система датотека</message>
    <message xml:lang="sv">Autentisering krävs för att montera filsystemet</message>
    <message xml:lang="tr">Dosya sistemini bağlamak için kimlik doğrulaması gerekli</message>
    <message xml:lang="uk">Щоб змонтувати файлову систему, слід пройти розпізнавання</message>
    <message xml:lang="zh_CN">挂载文件系统需要身份验证</message>
    <message xml:lang="zh_TW">要掛載檔案系統需要先核對身分</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  
  <action id="org.freedesktop.udisks2.filesystem-mount-other-seat">
    <description>Mount a filesystem from a device plugged into another seat</description>
    <description xml:lang="ca">Munta un sistema de fitxers des d'un dispositiu endollat a un altre assentament</description>
    <description xml:lang="cs">Připojit souborový systém ze zařízení připojeného do jiného terminálu</description>
    <description xml:lang="da">Monter et filsystem fra en enhed tilsluttet et andet sæde</description>
    <description xml:lang="de">Ein Dateisystem von einem an einem anderen Platz angeschlossenen Gerät einhängen</description>
    <description xml:lang="el">Προσάρτηση ενός συστήματος αρχείων από μια συνδεμένη συσκευή σε άλλη θέση</description>
    <description xml:lang="en_GB">Mount a filesystem from a device plugged into another seat</description>
    <description xml:lang="es">Montar un sistema de archivos de un dispositivo conectado en otra ubicación</description>
    <description xml:lang="fr">Monter un système de fichiers depuis un périphérique distant</description>
    <description xml:lang="fur">Monte un filesystem di un dispositîf tacât intune altre posizion</description>
    <description xml:lang="gl">Montar un sistema de ficheiros desde un dispositivo conectado noutro posto</description>
    <description xml:lang="hr">Montiraj datotečni sustav s uređaja priključenog na drugo mjesto</description>
    <description xml:lang="hu">Másik munkaállomáshoz csatlakoztatott eszköz fájlrendszerének csatolása</description>
    <description xml:lang="ia">Montar un systema de files ab un dispositivo connectite a un altere sedia</description>
    <description xml:lang="id">Kaitkan sistem berkas dari perangkat yang ditancapkan ke seat lain</description>
    <description xml:lang="it">Monta un file system da un dispositivo collegato in un'altra posizione</description>
    <description xml:lang="ja">他のところに差し込んだデバイスからファイルシステムをマウントします。</description>
    <description xml:lang="kk">Басқа отыру орнына жалғанған құрылғыдан файлдық жүйені тіркеу</description>
    <description xml:lang="ko">다른 위치에 연결된 장치에서 파일 시스템 마운트</description>
    <description xml:lang="lt">Prijungti failų sistemą iš įrenginio, prijungto kitoje darbo vietoje</description>
    <description xml:lang="lv">Montēt datņu sistēmu no ierīces, kas ir pievienota citā vietā</description>
    <description xml:lang="nl">Koppel een bestandssysteem aan van een apparaat dat is aangesloten bij een andere seat</description>
    <description xml:lang="pl">Zamontowanie systemu plików z urządzenia podłączonego do innego stanowiska</description>
    <description xml:lang="pt_BR">Montar um sistema de arquivos do dispositivo conectado a outro ponto</description>
    <description xml:lang="ru">Монтировать файловую систему с устройства, подключенного в другое место</description>
    <description xml:lang="sk">Pripojiť systém zo zariadenia pripojeného na inom mieste</description>
    <description xml:lang="sl">Priklopi datotečni sistem z naprave, vtaknjene v drugo režo</description>
    <description xml:lang="sr">Прикачите систем датотека са уређаја прикљученог на друго седиште</description>
    <description xml:lang="sv">Montera ett filsystem från en enhet ansluten på en annan plats</description>
    <description xml:lang="tr">Başka bir yuvaya takılmış bir aygıtın dosya sistemini bağla</description>
    <description xml:lang="uk">Змонтувати файлову систему на пристрої, з’єднаному з іншого місця</description>
    <description xml:lang="zh_CN">挂载插入另一槽位设备上的文件系统</description>
    <description xml:lang="zh_TW">掛載插入其他位置的裝置的檔案系統</description>
    <message>Authentication is required to mount the filesystem</message>
    <message xml:lang="ca">Es requereix autenticació per muntar el sistema de fitxers</message>
    <message xml:lang="cs">Pro připojení souborového systému je vyžadována autentizace</message>
    <message xml:lang="da">Der kræves godkendelse for at montere filsystemet</message>
    <message xml:lang="de">Legitimation ist zum Einhängen eines Dateisystems erforderlich</message>
    <message xml:lang="el">Απαιτείται πιστοποίηση για προσάρτηση συστήματος αρχείων</message>
    <message xml:lang="en_GB">Authentication is required to mount the filesystem</message>
    <message xml:lang="es">Se requiere autenticación para montar el sistema de archivos</message>
    <message xml:lang="eu">Autentifikazioa behar da fitxategi-sistema muntatzeko</message>
    <message xml:lang="fi">Tunnistautuminen vaaditaan tiedostojärjestelmän liittämistä varten</message>
    <message xml:lang="fr">Une authentification est requise pour monter le système de fichiers</message>
    <message xml:lang="fur">La autenticazion e je necesarie par montâ il filesystem</message>
    <message xml:lang="gl">Debe autenticarse para montar o sistema de ficheiros</message>
    <message xml:lang="hr">Potrebna je provjera za montiranje datotečnog sustava</message>
    <message xml:lang="hu">Hitelesítés szükséges a fájlrendszer csatolásához</message>
    <message xml:lang="ia">Authentication es necessari pro montar le systema de files</message>
    <message xml:lang="id">Otentikasi diperlukan untuk mengait sistem berkas</message>
    <message xml:lang="it">È richiesto autenticarsi per montare il file system</message>
    <message xml:lang="ja">ファイルシステムをマウントするには、認証が必要です。</message>
    <message xml:lang="kk">Файлдық жүйені тіркеу үшін аутентификация керек</message>
    <message xml:lang="ko">파일 시스템을 마운트 하려면 인증이 필요합니다</message>
    <message xml:lang="lt">Failų sistemai prijungti reikia patvirtinti tapatybę</message>
    <message xml:lang="lv">Vajag autentificēties, lai montētu datņu sistēmas</message>
    <message xml:lang="nl">Authenticatie is vereist om het bestandssysteem aan te koppelen</message>
    <message xml:lang="pa">ਫਾਇਲ ਸਿਸਟਮ ਮਾਊਂਟ ਕਰਨ ਲਈ ਪਰਮਾਣਕਿਤਾ ਦੀ ਲੋੜ ਹੈ</message>
    <message xml:lang="pl">Wymagane jest uwierzytelnienie, aby zamontować system plików</message>
    <message xml:lang="pt_BR">Autenticação é necessária para montar um sistema de arquivos</message>
    <message xml:lang="ru">Для монтирования файловой системы требуется подтверждение подлинности пользователя</message>
    <message xml:lang="sk">Pripojenie súborového systému vyžaduje overenie totožnosti</message>
    <message xml:lang="sl">Za priklop datotečnega sistema je zahtevana overitev.</message>
    <message xml:lang="sr">Потребно је потврђивање идентитета за прикачињање система датотека</message>
    <message xml:lang="sv">Autentisering krävs för att montera filsystemet</message>
    <message xml:lang="tr">Dosya sistemini bağlamak için kimlik doğrulaması gerekli</message>
    <message xml:lang="uk">Щоб змонтувати файлову систему, слід пройти розпізнавання</message>
    <message xml:lang="zh_CN">挂载文件系统需要身份验证</message>
    <message xml:lang="zh_TW">要掛載檔案系統需要先核對身分</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
</action>

</policyconfig>
