[Unit]
Description=automount partitions

# Ordering
After=multi-user.target


[Service]
Type=oneshot
ExecStart=/usr/bin/bigmount
User=root
Group=root

[Install]
WantedBy=multi-user.target
